<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">Habilidades duras y blandas</span>

    <div class=" skills__container container grid">
        <div class="row circle__container">
            <div *ngFor="let Habilidad of habilidad" class= "circle__container">
                <circle-progress
                    [percent]="Habilidad.porcentajeS"
                    [title]="Habilidad.tituloS"
                    [showSubtitle]="false"
                    [radius]="100"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#2AB7CA'"
                    [innerStrokeColor]="'#9EDED8'"
                    [showUnits]="false"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
                <div class="description__icons" *ngIf="isLogged">
                    <button class="btn edit" *ngIf="isLogged" routerLink="/editskill/{{Habilidad.id}}">
                        <i class="uil uil-edit" ></i>
                    </button>
                    <button class="btn delete" *ngIf="isLogged" (click)="onDelete(Habilidad.id)">
                        <i class="uil uil-trash-alt"></i>
                    </button>
                </div>
            </div>
            <button class="btn" routerLink="/newskill" *ngIf="isLogged">
                <i class="uil uil-plus"></i>
            </button>
            <!--<div class= "circle__container">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#2AB7CA'"
                    [innerStrokeColor]="'#9EDED8'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class= "circle__container">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#2AB7CA'"
                    [innerStrokeColor]="'#9EDED8'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class= "circle__container">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#2AB7CA'"
                    [innerStrokeColor]="'#9EDED8'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>
            <div class= "circle__container">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="12"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#2AB7CA'"
                    [innerStrokeColor]="'#9EDED8'"
                    [animation]="true"
                    [animationDuration]="600"
                ></circle-progress>
            </div>-->
        </div>
    </div>
</section>
