<div class="login-box">
  <div class="close__window">
    <a class="btn close" routerLink="">
      <i class="uil uil-times" ></i>
    </a>
  </div>
    <h2>Añadir Educación</h2>
    <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
      <div class="user-box">
        <input type="text" id="tituloEd" [(ngModel)]="tituloEd" name="tituloEd" requiered>
        <label for="tituloEd">Titulo</label>
      </div>
      <div class="user-box">
        <input type="text" id="subtituloEd" [(ngModel)]="subtituloEd" name="subtituloEd" requiered>
        <label for="subtituloEd">Institucion Academica</label>
      </div>
      <div class="user-box">
        <input type="text" id="descripcionEd" [(ngModel)]="descripcionEd" name="descripcionEd" requiered>
        <label for="descripcionEd">Descripcion</label>
      </div>
      <div class="user-box">
        <input type="text" id="imgEd" [(ngModel)]="imgEd" name="imgEd" requiered>
        <label for="imgEd">img/name.jpg</label>
      </div>
      <button type= "submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Añadir
      </button>
    </form>
  </div>