<header class="header">

    <div class="row">
        <div class="banner">
            <div class="LogoContainer">
                <img src="../../../assets/img/APLogo.png" class="ApLogo" alt>
            </div>
            <div class="login__container">
                <div class="header__socials">
                    <a href="https://www.instagram.com/martin.binaghi/?hl=es-la" class="header__social">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="https://github.com/MartinBinaghi" class="header__social">
                        <i class="uil uil-github-alt"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/martin-binaghi-5577a822b/" class="header__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                </div>
                <div class="login__button">
                    <a href="/login" class="Login">
                        Log In
                    </a>
                </div>
            </div>
        </div> 
    </div>
</header>
