<section class="about-me section" id="about-me">
    <div class="about-me__container container grid">
        <div class="about-me__content grid">
            <div class="about-me__social">
                <a href="https://www.linkedin.com/in/martin-binaghi-5577a822b/" class="about-me__social-icon">
                    <i class="uil uil-linkedin"></i>
                </a>
               
                <a href="https://www.instagram.com/martin.binaghi/?hl=es-la" class="about-me__social-icon">
                    <i class="uil uil-instagram-alt"></i>
                </a>

                <a href="https://github.com/MartinBinaghi" class="about-me__social-icon">
                    <i class="uil uil-github"></i>
                </a>
            </div>

            <div class="about-me__img">
                <!--<image class="about-me__blob-img" x="10" y="1" href="assets/img/1643136008290 (1).png"/>-->
                <img src="assets/img/1643136008290 (1).png" alt="" x="10" y ="1" class="about-me__blob-img">
            </div>

            <div *ngFor="let AboutMe of about" class="about-me__data">
                <div class="about-me__text">
                    <h1 class="about-me__title"> Hola! soy {{AboutMe.nombreA}}</h1>
                    <h3 class="about-me_subtitle">{{AboutMe.titularA}}</h3>
                    <p class="about-me__description"> {{AboutMe.descripcionA}}</p>
                </div>
                <a href="#contact" class="button button--flex">
                    Contacto<i class="uil uil-message button__icon"></i>
                </a>
                <a download="" href="assets/pdf/CV Binaghi Pablo Martin.pdf" class="button button--flex">
                    Descargar CV <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
        <div class="description__icons" *ngIf="isLogged">
            <button *ngFor="let AboutMe of about" class="btn edit" routerLink="/editabout/{{AboutMe.id}}">
                <i class="uil uil-edit" ></i>
            </button>
        </div>
        <div class="about-me__scroll">
            <a href="#education" class="about-me__scroll-button button--flex">
                <i class="uil uil-mouse-alt about-me__scroll-mouse"></i>
                <span class="about-me__scroll-name">Scroll</span>
                <i class="uil uil-arrow-down about-me__scroll-arrow"></i>
            </a>
        </div>
    </div>
</section>