.header{
    margin-top:2rem;
    width: 100%;
    height: 15rem;
    margin-bottom:0px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}

  
.banner{
    width: 100%;
    height:210px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    background-image: url(../../../assets/img/zyro-image.png);
    background-repeat: no-repeat;
    background-size:1200px;
    background-position: center;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
}

.LogoContainer{
    display: flex;
}
    
.ApLogo{
    display: flex;
    width: 250px;
}

.login__container{
    display: flex;
    row-gap: 1rem;
    margin-right: 2rem;
    margin-top: 0rem;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.Login{
    background-color: white;
    color: black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: .5rem;
    font-weight: var(--small-font-size);
}

.login__button{
    display: flex;
    align-items: center;
}

.Login:hover{
    background-color: lightgray;
}


.header__socials{
    display: flex;
    align-items: center;
}

.header__social{
    font-size: 1.25rem;
    color: #FFF;
}

.header__social:hover{
    color: lightgray;
}
