/*.row{
    align-items: center;
    text-align: center;
}
.circle__container{
    text-align: center;
    width: 30%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: inline-block;
}*/

.circle__container{
    display: inline-block;
    text-align: center;
}

.row{
    align-items: center;
    text-align: center;
}

.skills__container{
    row-gap: 0;
}

