<body>
        <!--==================== HEADER ====================-->
        <app-nav-menu></app-nav-menu>
        
        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <app-home></app-home>
            <!--==================== EDUCACION ====================-->
            <app-education></app-education>
            <!--==================== EXPERIENCIA ====================-->
            <app-experience></app-experience>
            <!--==================== CONTACT ME ====================-->
            <app-contact-me></app-contact-me>
        </main>

        <!--==================== FOOTER ====================-->
        <app-footer></app-footer>
    </body>
