
    <!--<head>
        <meta charset="UTF-8">-->

        <!--==================== UNICONS ====================-->
        <!--<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->
        
        <!--==================== SWIPER CSS ====================-->
        <!--<link rel="stylesheet" href="">-->
        
        <!--==================== CSS ====================-->
        <!--<link rel="stylesheet" href="/src/styles.css">-->

        <!--<title>Responsive Portfolio Website</title>-->
    <!--</head>-->
    <body>
        <!--==================== HEADER ====================-->
        <app-header></app-header>
        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <app-home></app-home>
            <!--==================== EDUCACION ====================-->
            <app-education></app-education>
            <!--==================== EXPERIENCIA ====================-->
            <app-experience></app-experience>
            <!--==================== CONTACT ME ====================-->
            <app-contact-me></app-contact-me>
        </main>

        <!--==================== FOOTER ====================-->
        <app-footer></app-footer>
        <!--==================== SCROLL TOP ====================-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="uil uil-arrow-up scrollup__icon"></i>
        </a>

        <!--==================== MAIN JS ====================-->
        <script src="assets/js/main.js"></script>
    </body>
