.project__container{
    overflow: initial;
    margin-top: 3rem;
}

.project__content {
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.project__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
    box-shadow: 10px 10px 30px black;
}

.project__title{
    font-size: var(--h3-font-size);
    margin-bottom: var (--mb-0-5);
}

.project__description{
    display: flex;
    flex-direction: column;
    height: 87%;
}

.project__button:hover .button__icon{
    transform: translateX(.25rem);
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
    background-color: var(--first-color);
    color: #fff;
    border: none;
    padding: 5px 5px;
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-family: inherit;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}
.btn:hover {
    background-color: var(--first-color-alt);
}
.btn-block {
    display: block;
    width: 100%;
}

.description__icons{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
}

.edit, .delete{
    display: flex;
}

.delete{
    background-color: indianred;
}

.delete:hover {
    background-color: darkred;
}

.add{
    margin:1rem 2.5rem;
}

.project__data{
    margin:0rem 1rem;
}

@media screen and (max-width: 350px) {
    .project__img{
        width: 200px;
    }
}
@media screen and (min-width: 568px){
    .project__content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .project__img{
       width: 320px; 
    }
    .project_content{
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .project_content{
        column-gap: 5rem;
    }
}
