<section class="projects section" id="projects">
    <h2 class="section__title">Mis proyectos</h2>

    <div class="project__container container">
        <div *ngFor="let Proyecto of proyecto">
            <div class="project__content grid">
                <img src="../../../assets/img/portfolio.jpg" alt="" class="project__img">
    
                <div class="project__data">
                    <h3 class="project__title">{{Proyecto.tituloP}}</h3>
                    <div class="project__description">
                        <p class="project__description">{{Proyecto.descripcionP}}</p>
                        <div class="description__icons" *ngIf="isLogged">
                            <a class="btn edit" href="{{Proyecto.linkP}}">
                                <i class="uil uil-github" ></i>
                            </a>
                            <button class="btn edit" *ngIf="isLogged" routerLink="/editproyecto/{{Proyecto.id}}">
                                <i class="uil uil-edit" ></i>
                            </button>
                            <button class="btn delete" *ngIf="isLogged" (click)="onDelete(Proyecto.id)">
                                <i class="uil uil-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="project__content grid">
                <img src="../../../assets/img/portfolio.jpg" alt="" class="project__img">
    
                <div class="project__data">
                    <h3 class="project__title">Mi Portfolio</h3>
                    <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellat eligendi doloribus ea tenetur ex vitae omnis reiciendis ad cum non qui assumenda nemo quaerat blanditiis aperiam, modi, commodi perferendis?</p>
                    <a href="#" class="button button--flex button--small project__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>-->
        </div>
        <button class="btn add" routerLink="/newproyecto" *ngIf="isLogged">
            <i class="uil uil-plus"></i>
        </button>
    </div>
</section>