<section class="experience section" id="experience">
    <h2 class="section__title">Experiencia Laboral</h2>
    <span class="section__subtitle">Mi historia laboral</span>

    <div class="experience__container container grid">
        <div>
            <div class="experience__content experience__open">
                <div class="experience__header">
                    <i class="uil uil-hard-hat experience__icon"></i>
                    <div>
                        <h1 class="experience__title">Encargado técnico</h1>
                        <span class="experience__subtitle">Esppro Servicios Industriales</span>
                    </div>

                    <i class="uil uil-angle-down experience__arrow"></i>
                </div>
                <div class="experience__description grid">
                    <p class="experience__descriptions">Avanzado</p>
                    <p class="experience__descriptions">Seniorstalk I: 2013-2014</p>
                    <p class="experience__descriptions">Seniorstalk II: 2014-2015</p>
                </div>
            </div>
        </div>

        <div>
            <div class="experience__content experience__close">
                <div class="experience__header">
                    <i class="uil uil-brain experience__icon"></i>
                    <div>
                        <h1 class="experience__title">Organizador de eventos y reuniónes</h1>
                        <span class="experience__subtitle">Jóvenes FIC - Centro de investigaciones María Saleme de Burnichon</span>
                    </div>

                    <i class="uil uil-angle-down experience__arrow"></i>
                </div>
            </div>
        </div>

        <div>
            <div class="experience__content experience__close">
                <div class="experience__header">
                    <i class="uil uil-flask experience__icon"></i>

                    <div>
                        <h1 class="experience__title">Estudiante Investigador</h1>
                        <span class="experience__subtitle">Centro de investigaciones María Saleme de Burnichon</span>
                    </div>

                    <i class="uil uil-angle-down experience__arrow"></i>
                </div>
            </div>
        </div>
    </div>
</section>
