<section class="education section" id="education">
    <h2 class="section__title">Educación</h2>
    <span class="section__subtitle">Mi historia educativa</span>

    <div class="education__container container grid">
        <div>
            <div class="education__content education__open">
                <div class="education__header">
                    <i class="uil uil-english-to-chinese education__icon"></i>

                    <div>
                        <h1 class="education__title">Inglés</h1>
                        <span class="education__subtitle">Centro Integral de Lenguas</span>
                    </div>

                    <i class="uil uil-angle-down education__arrow"></i>
                </div>
                <div class="education__description grid">
                    <p class="education__descriptions">Avanzado</p>
                    <p class="education__descriptions">Seniorstalk I: 2013-2014</p>
                    <p class="education__descriptions">Seniorstalk II: 2014-2015</p>
                </div>
            </div>
        </div>

        <div>
            <div class="education__content education__close">
                <div class="education__header">
                    <i class="uil uil-brackets-curly education__icon"></i>

                    <div>
                        <h1 class="education__title">Programación web</h1>
                        <span class="education__subtitle">Argentina programa</span>
                    </div>

                    <i class="uil uil-angle-down education__arrow"></i>
                </div>
            </div>
        </div>

        <div>
            <div class="education__content education__close">
                <div class="education__header">
                    <i class="uil uil-book-open education__icon"></i>

                    <div>
                        <h1 class="education__title">Licenciatura en Filosofía</h1>
                        <span class="education__subtitle">Universidad Nacional de Córdoba</span>
                    </div>

                    <i class="uil uil-angle-down education__arrow"></i>
                </div>
            </div>
        </div>

        <div>
            <div class="education__content education__close">
                <div class="education__header">
                    <i class="uil uil-bell-school education__icon"></i>
                    
                    <div>
                        <h1 class="education__title">Profesorado en Filosofía</h1>
                        <span class="education__subtitle">Universidad Nacional de Córdoba</span>
                    </div>

                    <i class="uil uil-angle-down education__arrow"></i>
                </div>
            </div>
        </div>
    </div>
</section>
