<body>
        <!--==================== HEADER ====================-->
        <app-nav-menu></app-nav-menu>
        <app-header></app-header>
        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <app-about-me></app-about-me>
            <!--==================== EDUCACION ====================-->
            <app-education></app-education>
            <!--==================== EXPERIENCIA ====================-->
            <app-experience></app-experience>
            <app-hs-skills></app-hs-skills>
            <app-projects></app-projects>
            <!--==================== CONTACT ME ====================-->
            <app-contact-me></app-contact-me>
        </main>

        <!--==================== FOOTER ====================-->
        <app-footer></app-footer>
    </body>
