<section class="contact section" id="contact">
    <h2 class="section__title">Contactame</h2>
    <span class="section__subtitle">Ponerse en contacto</span>

    <div class="contact__container container grid">

        <div class="center">
            <div class="contact__information">
                <i class="uil uil-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">Teléfono</h3>
                    <span class="contact__subtitle">351-529-1678</span>
                </div>
            </div>
            <div class="contact__information">
                <i class="uil uil-map-marker contact__icon"></i>
                <div>
                    <h3 class="contact__title">Ubicación</h3>
                    <span class="contact__subtitle">Argentina - Córdoba, Capital</span>
                </div>
            </div>
        </div>

        <div class="center">
            <div class="contact__information">
                <i class="uil uil-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">martin.binaghi01@gmail.com</span>
                </div>
            </div>
            <div>
                <a href="mailto:martin.binaghi01@gmail.com" class="button button--flex">
                    Mail Me
                    <i class="uil uil-fast-mail button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>