<section class="projects__section" id="projects">
    <h2 class="section__title">Mis proyectos</h2>

    <div class="projects__container container grid">
        <div class="row">
            <div class="project">
                <div class="project__content">
                    <h4>Mi Portfolio</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima provident consectetur facere pariatur odit nemo voluptas quas debitis explicabo ratione ut, sapiente, veniam, iste eius ipsa! Saepe, minus commodi.</p>
                </div>
                <div class="project__img">
                    <img src="../../../assets/img/portfolio.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>