.row{
    align-items: center;
    text-align: center;
}

.projects__container{
    row-gap: 0;
    margin-top: 3rem;
}

.projects{
    display: inline-block;
    text-align: center;
}

.project__content{
    width: 66%;
    display: inline-block;
}

.project__img{
    width: 33%;
    display: inline-block;
}
