body{background:#d0d0d0;}
*{margin: 10px;padding: 10px;}
div{
    border-top: thin solid black;
  border-right: thin solid;
  border-bottom: thin solid;
  border-left: thin solid;
}
div.portada{
    background: white;
    position: relative;
    height: 500px;
}
div.f_portada{
    background: white

}
div.perfil{
    background: white;
    margin: 0px;
    padding: 0px;
    height: 100px;
    display: inline-block;
    position: relative;
    top: 45px;
    bottom: 0px;
    left: -120px;
}
div.foto{
    border: none;
    display: inline-block;
    position: relative;
    top: -120px;
    bottom: 0px;
    right: 0px;
    left: 100px;
}
div.estudiante{
    background: white;
    position: relative;
    width: 550px;
    top: -190px;
    bottom: 0px;
    right: 0px;
    left: 677px;
}
div.fotounc1{
    margin: 0px;
    padding : 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
}
div.estUNC{
   
    display: inline-block;
}
div.facademica{
    background: white;

}
div.APLogo{
    background:black;
    padding: 0%;
    width: 19%;
    height: 20%;
}
div.licenciatura{
    width:50%
}