<section class="experience section" id="experience">
    <h2 class="section__title">Experiencia Laboral</h2>
    <span class="section__subtitle">Mi historia laboral</span>

    <div class="experience__container container grid">
        <div *ngFor = "let Experiencia of expe">
            <div class="experience__content experience__open"[ngClass]="{'experience__open':Experiencia.experiencia__open==true, 'experience__close':Experiencia.experiencia__open==false}">
                <div class="experience__header"(click)="Experiencia.experiencia__open=!Experiencia.experiencia__open">
                    <img class="experience__icon" src="assets/img/{{Experiencia.imgE}}.jpg">
                    <div>
                        <h1 class="experience__title">{{Experiencia.nombreE}}</h1>
                        <span class="experience__subtitle">{{Experiencia.subtituloE}}</span>
                    </div>

                    <i class="uil uil-angle-down experience__arrow"></i>
                </div>
                <div class="experience__description ">
                    <p class="experience__descriptions">{{Experiencia.descripcionE}}</p>
                    <div class="description__icons" *ngIf="isLogged">
                        <button class="btn edit" *ngIf="isLogged" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="uil uil-edit" ></i>
                        </button>
                        <button class="btn delete" *ngIf="isLogged" (click)="onDelete(Experiencia.id)">
                            <i class="uil uil-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn" routerLink="/newexp" *ngIf="isLogged">
            <i class="uil uil-plus"></i>
        </button>
    </div>
</section>
